{% extends 'WEBCrowdBundle::layout.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="jumbotron under-navbar">
  <div class="container">
    <h1>Notre équipe</h1>
    <p>Notre plateforme de crowdfounding n'est pas nouvelle mais elle est originale</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</div>
  <div class="container">
<div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Alexandre VILLA</h4>
                        <p class="text-muted">Maestro de la Red-Bull</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://facebook.com/alexandre.villa.12"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://fr.linkedin.com/in/alexandre-villa-391034b7"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member  text-center">
                        <img src="{{ asset('bundles/webcrowd/images/rastel.jpg') }}" class="img-responsive img-circle center-block" alt="">
                        <h4>Alexandre RASTEL</h4>
                        <p class="text-muted">L'as du CTL+C CTL+V</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://twitter.com/a_rastel"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://facebook.com/alexandre.rastel"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://fr.linkedin.com/in/rastel"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
{% endblock %}