{% extends 'WEBCrowdBundle::layout.html.twig' %}

{% block body %}
<div class="jumbotron under-navbar">
  <div class="container">
    <h1>Notre équipe</h1>
    <p>Notre plateforme de crowdfounding n'est pas nouvelle mais elle est originale</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</div>
{% endblock %}