{% extends 'WEBCrowdBundle::layout.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
  <div class="container">
    <h1>Titre</h1>
    <h4>NOM prénom</h4>

    <p>Notre plateforme de crowdfounding n'est pas nouvelle mais elle est originale</p>
    <p><a class="btn btn-primary btn-lg">Je soutiens ce projet !</a></p>
</div>
{% endblock %}